.container {
    height: 500px;
    background-image: url(/img/captainmarvelheader.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#logo {
    display: flex;
    width: 15%;
}