#container-catalogo {
    height: 500px;
    background-image: url(/img/captainmarvelheader.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#logo {
    display: flex;
    width: 15%;
}

.menu {
    display: flex;
}

.menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.menu ul li {
    display: flex;
    margin-right: 40px;
}

.menu ul li a {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
}



