@font-face {
    font-family: open-sans;
    src: url(/font/OpenSans-Regular.ttf);
}

body {
    font-family: open-sans;
    margin: 0;
    padding: 0;
}

#container-home {
    background-image: url(/img/spidermanheader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.logo {
    display: inline-block;
    width: 10%;
    
}

.menu {
    display: inline-block;
}

.menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.menu ul li {
    display: inline-block;
    margin-right: 40px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
}

.menu ul li:hover div {
    border-bottom: 2px solid #fe7467;
    margin-left: 5px;
    margin-right: 5px;
}

.img-titulo {
    width: 30%;
}

.titulo-catalogo {
    color: #525051;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}

.quemsomos {
    color: #525051;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}

.underline {
    text-align: center;
    width: 100px;
    background-color:#fe7467;
    height: 4px;
    border: 0;
}










