p {
    color: blue;
    background-color: chartreuse;
    font-family: sans-serif;
}

div.header {
    background-image: url(/img/spidermanheader.jpg);
    height: 100vh;
    width: 100vw;  
}

