#container {
    background-image: url(/img/spidermanheader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecalho {
    display: flex;
}

.menu ul li {
    display: inline;
}

.img-titulo {
    width: 30%;
}








