@font-face {
    font-family: open-sans;
    src: url(/font/OpenSans-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: open-sans;
    margin: 0;
    padding: 0;
}

#container-home {
max-width: 100vw;
box-sizing: border-box;
background: url(/img/spidermanheader.jpg) no-repeat center center;
height: 100vh;
background-size: cover;
}

#container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

.logo {
    height: 80px;
    
}

.menu ul {
    display: flex;
    gap: 30px;
    position: absolute;
    left: 240px;
    list-style: none; 
}

.menu ul li a {
    font-family: Poppins, Open-sans, Open Sans, Helvetica;
    font-weight: 700;
    color: white;
    text-decoration: none;
  }

.menu ul li:hover div {
    border-bottom: 2px solid #fe7467;
    margin-left: 5px;
    margin-right: 5px;
}

.img-titulo {
    height: 200px;
    margin: 100px 0 0 100px;
}

.titulo {
    color: #525051;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}

.underline {
    text-align: center;
    width: 100px;
    background-color:#fe7467;
    height: 4px;
    border: 0;
}

#container-quemsomos {
    max-width: 100vw;
    box-sizing: border-box;
    background: url(/img/thor_header.jpg) no-repeat center center;
    height: 100vh;
    background-size: cover;
    padding: 100px 0;
}

#container-quemsomos article {
    display: grid;
}


.underline-quemsomos {
    text-align: center;
    width: 100px;
    background-color: white;
    height: 4px;
    border: 0;
}

a button {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgba(254, 116, 103, 1) 0%, rgba(252, 56, 54, 1) 100%);
    height: 45px;
    width: 150px;
    border-radius: 30px;
    border: none;
}










